website/common/vindicia/wsdl/BillingPlan.wsdl

<definitions name="BillingPlan" targetNamespace="http://soap.vindicia.com/BillingPlan" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.vindicia.com/BillingPlan" xmlns:vin="http://soap.vindicia.com/Vindicia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdl="http://soap.vindicia.com/BillingPlan" >
  <documentation>WSDL Specification for BillingPlan</documentation>
  <types>
    <xsd:schema targetNamespace="http://soap.vindicia.com/BillingPlan">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://soap.vindicia.com/Vindicia" schemaLocation="./Vindicia.xsd" />
    </xsd:schema>
  </types>
  <message name="update_in">
    <part name="auth" type="vin:Authentication" />
    <part name="billingPlan" type="vin:BillingPlan" />
  </message>
  <message name="update_out">
    <part name="return" type="vin:Return" />
    <part name="billingPlan" type="vin:BillingPlan" />
    <part name="created" type="xsd:boolean" />
  </message>
  <message name="fetchByVid_in">
    <part name="auth" type="vin:Authentication" />
    <part name="vid" type="xsd:string" />
  </message>
  <message name="fetchByVid_out">
    <part name="return" type="vin:Return" />
    <part name="billingPlan" type="vin:BillingPlan" />
  </message>
  <message name="fetchByMerchantBillingPlanId_in">
    <part name="auth" type="vin:Authentication" />
    <part name="merchantBillingPlanId" type="xsd:string" />
  </message>
  <message name="fetchByMerchantBillingPlanId_out">
    <part name="return" type="vin:Return" />
    <part name="billingPlan" type="vin:BillingPlan" />
  </message>
  <message name="fetchByBillingPlanStatus_in">
    <part name="auth" type="vin:Authentication" />
    <part name="status" type="vin:BillingPlanStatus" />
  </message>
  <message name="fetchByBillingPlanStatus_out">
    <part name="return" type="vin:Return" />
    <part name="billingPlans" type="vin:ArrayOfBillingPlans" />
  </message>
  <message name="fetchAll_in">
    <part name="auth" type="vin:Authentication" />
    <part name="page" type="xsd:int" />
    <part name="pageSize" type="xsd:int" />
  </message>
  <message name="fetchAll_out">
    <part name="return" type="vin:Return" />
    <part name="billingPlans" type="vin:ArrayOfBillingPlans" />
  </message>
  <message name="fetchByMerchantEntitlementId_in">
    <part name="auth" type="vin:Authentication" />
    <part name="merchantEntitlementId" type="xsd:string" />
  </message>
  <message name="fetchByMerchantEntitlementId_out">
    <part name="return" type="vin:Return" />
    <part name="billingPlans" type="vin:ArrayOfBillingPlans" />
  </message>
  <portType name="BillingPlanPortType">
    <operation name="update" parameterOrder="auth billingPlan">
      <input message="tns:update_in" />
      <output message="tns:update_out" />
    </operation>
    <operation name="fetchByVid" parameterOrder="auth vid">
      <input message="tns:fetchByVid_in" />
      <output message="tns:fetchByVid_out" />
    </operation>
    <operation name="fetchByMerchantBillingPlanId" parameterOrder="auth merchantBillingPlanId">
      <input message="tns:fetchByMerchantBillingPlanId_in" />
      <output message="tns:fetchByMerchantBillingPlanId_out" />
    </operation>
    <operation name="fetchByBillingPlanStatus" parameterOrder="auth status">
      <input message="tns:fetchByBillingPlanStatus_in" />
      <output message="tns:fetchByBillingPlanStatus_out" />
    </operation>
    <operation name="fetchAll" parameterOrder="auth page pageSize">
      <input message="tns:fetchAll_in" />
      <output message="tns:fetchAll_out" />
    </operation>
    <operation name="fetchByMerchantEntitlementId" parameterOrder="auth merchantEntitlementId">
      <input message="tns:fetchByMerchantEntitlementId_in" />
      <output message="tns:fetchByMerchantEntitlementId_out" />
    </operation>
  </portType>
  <binding name="BillingPlanBinding" type="tns:BillingPlanPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="update">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Creates a new BillingPlan object or updates an existing one.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>billingPlan</b></dt>
<dd>Object to create</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>billingPlan</b></dt>
<dd>The resultant object</dd>
<dt><b>created</b></dt>
<dd>True if the object was created new</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/BillingPlan#update" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a BillingPlan by Vindicia's unique ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>billingPlan</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/BillingPlan#fetchByVid" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByMerchantBillingPlanId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a BillingPlan by merchant's unique BillingPlan Id<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantBillingPlanId</b></dt>
<dd>Merchant's BillingPlan Id for this object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>billingPlan</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/BillingPlan#fetchByMerchantBillingPlanId" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByBillingPlanStatus">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Load a list of BillingPlans by status<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>status</b></dt>
<dd>The status of the BillingPlan</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>billingPlans</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/BillingPlan#fetchByBillingPlanStatus" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </output>
    </operation>
    <operation name="fetchAll">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
ARRAY(0x89fb318)<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>page</b></dt>
<dd>The offset, based on pageSize, to return.</dd>
<dt><b>pageSize</b></dt>
<dd>The number of BillingPlans to return per page.</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>billingPlans</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/BillingPlan#fetchAll" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByMerchantEntitlementId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all BillingPlans that grant an entitlement<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantEntitlementId</b></dt>
<dd>Merchant's unique entitlement id</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>billingPlans</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/BillingPlan#fetchByMerchantEntitlementId" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/BillingPlan" use="encoded" />
      </output>
    </operation>
  </binding>
  <service name="BillingPlan">
    <port binding="tns:BillingPlanBinding" name="BillingPlanPort">
      <soap:address location="https://soap.vindicia.com/v3.1/soap.pl" />
    </port>
  </service>
</definitions>