website/common/vindicia/wsdl/EmailTemplate.wsdl

<definitions name="EmailTemplate" targetNamespace="http://soap.vindicia.com/EmailTemplate" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.vindicia.com/EmailTemplate" xmlns:vin="http://soap.vindicia.com/Vindicia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdl="http://soap.vindicia.com/EmailTemplate" >
  <documentation>WSDL Specification for EmailTemplate</documentation>
  <types>
    <xsd:schema targetNamespace="http://soap.vindicia.com/EmailTemplate">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://soap.vindicia.com/Vindicia" schemaLocation="./Vindicia.xsd" />
    </xsd:schema>
  </types>
  <message name="update_in">
    <part name="auth" type="vin:Authentication" />
    <part name="template" type="vin:EmailTemplate" />
  </message>
  <message name="update_out">
    <part name="return" type="vin:Return" />
    <part name="template" type="vin:EmailTemplate" />
  </message>
  <message name="fetchByVid_in">
    <part name="auth" type="vin:Authentication" />
    <part name="vid" type="xsd:string" />
  </message>
  <message name="fetchByVid_out">
    <part name="return" type="vin:Return" />
    <part name="template" type="vin:EmailTemplate" />
  </message>
  <message name="fetchByProduct_in">
    <part name="auth" type="vin:Authentication" />
    <part name="product" type="vin:Product" />
  </message>
  <message name="fetchByProduct_out">
    <part name="return" type="vin:Return" />
    <part name="templates" type="vin:ArrayOfEmailTemplates" />
  </message>
  <message name="fetchByType_in">
    <part name="auth" type="vin:Authentication" />
    <part name="product" type="vin:Product" />
    <part name="type" type="vin:EmailTemplateType" />
  </message>
  <message name="fetchByType_out">
    <part name="return" type="vin:Return" />
    <part name="template" type="vin:ArrayOfEmailTemplates" />
  </message>
  <message name="fetchByTypeAndVersion_in">
    <part name="auth" type="vin:Authentication" />
    <part name="product" type="vin:Product" />
    <part name="type" type="vin:EmailTemplateType" />
    <part name="version" type="xsd:string" />
  </message>
  <message name="fetchByTypeAndVersion_out">
    <part name="return" type="vin:Return" />
    <part name="template" type="vin:EmailTemplate" />
  </message>
  <portType name="EmailTemplatePortType">
    <operation name="update" parameterOrder="auth template">
      <input message="tns:update_in" />
      <output message="tns:update_out" />
    </operation>
    <operation name="fetchByVid" parameterOrder="auth vid">
      <input message="tns:fetchByVid_in" />
      <output message="tns:fetchByVid_out" />
    </operation>
    <operation name="fetchByProduct" parameterOrder="auth product">
      <input message="tns:fetchByProduct_in" />
      <output message="tns:fetchByProduct_out" />
    </operation>
    <operation name="fetchByType" parameterOrder="auth product type">
      <input message="tns:fetchByType_in" />
      <output message="tns:fetchByType_out" />
    </operation>
    <operation name="fetchByTypeAndVersion" parameterOrder="auth product type version">
      <input message="tns:fetchByTypeAndVersion_in" />
      <output message="tns:fetchByTypeAndVersion_out" />
    </operation>
  </portType>
  <binding name="EmailTemplateBinding" type="tns:EmailTemplatePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="update">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Creates a new EmailTemplate object, or updates an existing one.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>template</b></dt>
<dd>Object to create</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>template</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/EmailTemplate#update" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads an EmailTemplate object by Vindicia's unique ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>template</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/EmailTemplate#fetchByVid" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByProduct">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all EmailTemplate objects for a product<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>product</b></dt>
<dd>Product to load Email Templates for</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>templates</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/EmailTemplate#fetchByProduct" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByType">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all EmailTemplate objects for a product by their template type<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>product</b></dt>
<dd>Product to load Email Templates for</dd>
<dt><b>type</b></dt>
<dd>The type of the templates.</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>template</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/EmailTemplate#fetchByType" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByTypeAndVersion">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all EmailTemplate object for a product by its template type and version<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>product</b></dt>
<dd>Product to load Email Template for</dd>
<dt><b>type</b></dt>
<dd>The type of the template.</dd>
<dt><b>version</b></dt>
<dd>Optional version of the template. If a version is not specified the most recent version is loaded.</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>template</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/EmailTemplate#fetchByTypeAndVersion" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/EmailTemplate" use="encoded" />
      </output>
    </operation>
  </binding>
  <service name="EmailTemplate">
    <port binding="tns:EmailTemplateBinding" name="EmailTemplatePort">
      <soap:address location="https://soap.vindicia.com/v3.1/soap.pl" />
    </port>
  </service>
</definitions>