website/common/vindicia/wsdl/PaymentMethod.wsdl

<definitions name="PaymentMethod" targetNamespace="http://soap.vindicia.com/PaymentMethod" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.vindicia.com/PaymentMethod" xmlns:vin="http://soap.vindicia.com/Vindicia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdl="http://soap.vindicia.com/PaymentMethod" >
  <documentation>WSDL Specification for PaymentMethod</documentation>
  <types>
    <xsd:schema targetNamespace="http://soap.vindicia.com/PaymentMethod">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://soap.vindicia.com/Vindicia" schemaLocation="./Vindicia.xsd" />
    </xsd:schema>
  </types>
  <message name="update_in">
    <part name="auth" type="vin:Authentication" />
    <part name="paymentMethod" type="vin:PaymentMethod" />
    <part name="validate" type="xsd:boolean" />
    <part name="minChargebackProbability" type="xsd:int" />
  </message>
  <message name="update_out">
    <part name="return" type="vin:Return" />
    <part name="paymentMethod" type="vin:PaymentMethod" />
    <part name="created" type="xsd:boolean" />
    <part name="validated" type="xsd:boolean" />
  </message>
  <message name="fetchByVid_in">
    <part name="auth" type="vin:Authentication" />
    <part name="vid" type="xsd:string" />
  </message>
  <message name="fetchByVid_out">
    <part name="return" type="vin:Return" />
    <part name="paymentMethod" type="vin:PaymentMethod" />
  </message>
  <message name="fetchByAccount_in">
    <part name="auth" type="vin:Authentication" />
    <part name="account" type="vin:Account" />
  </message>
  <message name="fetchByAccount_out">
    <part name="return" type="vin:Return" />
    <part name="paymentMethods" type="vin:ArrayOfPaymentMethods" />
  </message>
  <message name="fetchByMerchantPaymentMethodId_in">
    <part name="auth" type="vin:Authentication" />
    <part name="paymentMethodId" type="xsd:string" />
  </message>
  <message name="fetchByMerchantPaymentMethodId_out">
    <part name="return" type="vin:Return" />
    <part name="paymentMethod" type="vin:PaymentMethod" />
  </message>
  <message name="validate_in">
    <part name="auth" type="vin:Authentication" />
    <part name="paymentMethod" type="vin:PaymentMethod" />
  </message>
  <message name="validate_out">
    <part name="return" type="vin:Return" />
    <part name="validated" type="xsd:boolean" />
  </message>
  <portType name="PaymentMethodPortType">
    <operation name="update" parameterOrder="auth paymentMethod validate minChargebackProbability">
      <input message="tns:update_in" />
      <output message="tns:update_out" />
    </operation>
    <operation name="fetchByVid" parameterOrder="auth vid">
      <input message="tns:fetchByVid_in" />
      <output message="tns:fetchByVid_out" />
    </operation>
    <operation name="fetchByAccount" parameterOrder="auth account">
      <input message="tns:fetchByAccount_in" />
      <output message="tns:fetchByAccount_out" />
    </operation>
    <operation name="fetchByMerchantPaymentMethodId" parameterOrder="auth paymentMethodId">
      <input message="tns:fetchByMerchantPaymentMethodId_in" />
      <output message="tns:fetchByMerchantPaymentMethodId_out" />
    </operation>
    <operation name="validate" parameterOrder="auth paymentMethod">
      <input message="tns:validate_in" />
      <output message="tns:validate_out" />
    </operation>
  </portType>
  <binding name="PaymentMethodBinding" type="tns:PaymentMethodPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="update">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Creates a new PaymentMethod object or updates an existing one.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>paymentMethod</b></dt>
<dd>Object to create</dd>
<dt><b>validate</b></dt>
<dd>Whether to just update or validate first</dd>
<dt><b>minChargebackProbability</b></dt>
<dd>If Chargeback Probablity from risk scoring is greater than this, the transaction will fail. Default is 100 (all payment methods are applied).</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>paymentMethod</b></dt>
<dd>The resultant object</dd>
<dt><b>created</b></dt>
<dd>True if the object was created new</dd>
<dt><b>validated</b></dt>
<dd>True if the payment method was successfully validated</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/PaymentMethod#update" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a PaymentMethod by Vindicia's unique ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>paymentMethod</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/PaymentMethod#fetchByVid" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByAccount">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a list of PaymentMethods by the Account that owns them<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>account</b></dt>
<dd>Account for which to retrieve associated PaymentMethods. Account object should have at least one of VID or merchantAccountId set (if both are set, VID is checked first).</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>paymentMethods</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/PaymentMethod#fetchByAccount" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByMerchantPaymentMethodId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a PaymentMethod by Merchant's unique ID for the payment method<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>paymentMethodId</b></dt>
<dd>Merchant ID for the payment method</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>paymentMethod</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/PaymentMethod#fetchByMerchantPaymentMethodId" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </output>
    </operation>
    <operation name="validate">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Validates - but does NOT store - a PaymentMethod, and assures it's basically correct.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>paymentMethod</b></dt>
<dd>The PaymentMethod to validate.</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>validated</b></dt>
<dd>True if the payment method was successfully validated</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/PaymentMethod#validate" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/PaymentMethod" use="encoded" />
      </output>
    </operation>
  </binding>
  <service name="PaymentMethod">
    <port binding="tns:PaymentMethodBinding" name="PaymentMethodPort">
      <soap:address location="https://soap.vindicia.com/v3.0/soap.pl" />
    </port>
  </service>
</definitions>