website/common/vindicia/wsdl/Symantec.xsd

  <xsd:schema targetNamespace="http://soap.vindicia.com/Vindicia" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.vindicia.com/Vindicia" xmlns:vin="http://soap.vindicia.com/Vindicia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdl="http://soap.vindicia.com/Vindicia" >
  <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xsd:complexType name="ActivityTypeArg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="loginArgs" type="tns:ActivityLogin" />
      <xsd:element minOccurs="0" name="logoutArgs" type="tns:ActivityLogout" />
      <xsd:element minOccurs="0" name="uriviewArgs" type="tns:ActivityURIView" />
      <xsd:element minOccurs="0" name="phoneArgs" type="tns:ActivityPhoneContact" />
      <xsd:element minOccurs="0" name="emailArgs" type="tns:ActivityEmailContact" />
      <xsd:element minOccurs="0" name="fulfillmentArgs" type="tns:ActivityFulfillment" />
      <xsd:element minOccurs="0" name="usageArgs" type="tns:ActivityUsage" />
      <xsd:element minOccurs="0" name="namedvalueArgs" type="tns:ActivityNamedValue" />
      <xsd:element minOccurs="0" name="cancellationArgs" type="tns:ActivityCancellation" />
      <xsd:element minOccurs="0" name="noteArgs" type="tns:ActivityNote" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityLogin">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ip" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityLogout">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ip" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityUsage">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastDay" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastWeek" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastMonth" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastYear" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastUsageDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityNamedValue">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="type" type="xsd:string" />
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityPhoneContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="srcPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="destPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="cidPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="aniPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="durationSeconds" type="xsd:int" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element minOccurs="1" name="type" type="tns:ActivityCallType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityEmailContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="srcEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="destEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityFulfillment">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="shipper" type="xsd:string" />
      <xsd:element minOccurs="0" name="trackingString" type="xsd:string" />
      <xsd:element minOccurs="0" name="shippingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="delivered" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="receivedTs" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="receiptName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityURIView">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ip" type="xsd:string" />
      <xsd:element minOccurs="1" name="uri" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="size" type="xsd:int" />
      <xsd:element minOccurs="0" name="bytesTransferred" type="xsd:int" />
      <xsd:element minOccurs="0" name="transferTime" type="xsd:int" />
      <xsd:element minOccurs="1" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityCancellation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="reason" type="xsd:string" />
      <xsd:element minOccurs="0" name="confirmationCode" type="xsd:int" />
      <xsd:element minOccurs="1" name="initiator" type="tns:ActivityCancelInitType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityNote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Activity">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="tns:Account" />
      <xsd:element minOccurs="1" name="activityType" type="tns:ActivityType" />
      <xsd:element minOccurs="0" name="activityArgs" type="tns:ActivityTypeArg" />
      <xsd:element minOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfActivities">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:Activity[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="addr1" type="xsd:string" />
      <xsd:element minOccurs="0" name="addr2" type="xsd:string" />
      <xsd:element minOccurs="0" name="addr3" type="xsd:string" />
      <xsd:element minOccurs="0" name="city" type="xsd:string" />
      <xsd:element minOccurs="0" name="county" type="xsd:string" />
      <xsd:element minOccurs="0" name="district" type="xsd:string" />
      <xsd:element minOccurs="0" name="postalCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="country" type="xsd:string" />
      <xsd:element minOccurs="0" name="phone" type="xsd:string" />
      <xsd:element minOccurs="0" name="fax" type="xsd:string" />
      <xsd:element minOccurs="0" name="latitude" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="longitude" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Authentication">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="version" type="xsd:string" />
      <xsd:element minOccurs="1" name="login" type="xsd:string" />
      <xsd:element minOccurs="1" name="password" type="xsd:string" />
      <xsd:element minOccurs="0" name="evid" type="xsd:string" />
      <xsd:element minOccurs="0" name="userAgent" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoBill">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillId" type="xsd:string" />
      <xsd:element minOccurs="0" name="account" type="tns:Account" />
      <xsd:element minOccurs="0" name="product" type="tns:Product" />
      <xsd:element minOccurs="0" name="billingPlan" type="tns:BillingPlan" />
      <xsd:element minOccurs="0" name="paymentMethod" type="tns:PaymentMethod" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="customerAutoBillName" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="tns:AutoBillStatus" />
      <xsd:element minOccurs="0" name="startTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="sourceIp" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingDay" type="xsd:int" />
      <xsd:element minOccurs="0" name="minimumCommitment" type="xsd:int" />
      <xsd:element minOccurs="0" name="merchantAffiliateId" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAffiliateSubId" type="xsd:string" />
      <xsd:element minOccurs="0" name="warnOnExpiration" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAutoBills">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:AutoBill[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BillingPlanPrice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="priceListName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfBillingPlanPrices">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:BillingPlanPrice[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BillingPlanPeriod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="tns:BillingPeriodType" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:int" />
      <xsd:element minOccurs="0" name="cycles" type="xsd:int" />
      <xsd:element minOccurs="0" name="prices" type="tns:ArrayOfBillingPlanPrices" />
      <xsd:element minOccurs="0" name="expireWarningDays" type="xsd:int" />
      <xsd:element minOccurs="0" name="doNotNotifyFirstBill" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfBillingPlanPeriods">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:BillingPlanPeriod[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BillingPlan">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantBillingPlanId" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="tns:BillingPlanStatus" />
      <xsd:element minOccurs="0" name="periods" type="tns:ArrayOfBillingPlanPeriods" />
      <xsd:element minOccurs="0" name="prenotifyDays" type="xsd:int" />
      <xsd:element minOccurs="0" name="endOfLifeTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="nameValues" type="tns:ArrayOfNameValuePairs" />
      <xsd:element minOccurs="0" name="merchantEntitlementIds" type="tns:ArrayOfMerchantEntitlementIds" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfBillingPlans">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:BillingPlan[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Chargeback">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="1" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="1" name="reasonCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="caseNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="referenceNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantTransactionTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="processorReceivedTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="postedTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="statusChangedTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="status" type="tns:ChargebackStatus" />
      <xsd:element minOccurs="0" name="merchantUserId" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element minOccurs="0" name="nameValues" type="tns:ArrayOfNameValuePairs" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfChargebacks">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:Chargeback[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EmailTemplate">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vid" type="xsd:string" />
      <xsd:element minOccurs="1" name="product" type="tns:Product" />
      <xsd:element minOccurs="0" name="templateType" type="vin:EmailTemplateType" />
      <xsd:element minOccurs="0" name="version" type="xsd:string" />
      <xsd:element minOccurs="0" name="from" type="xsd:string" />
      <xsd:element minOccurs="0" name="replyTo" type="xsd:string" />
      <xsd:element minOccurs="0" name="htmlMessage" type="xsd:string" />
      <xsd:element minOccurs="0" name="textMessage" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfEmailTemplates">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:EmailTemplate[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Entitlement">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantEntitlementId" type="xsd:string" />
      <xsd:element minOccurs="0" name="account" type="vin:Account" />
      <xsd:element minOccurs="0" name="startTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="active" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfEntitlements">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:Entitlement[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreditCard">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="bin" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="accountHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ECP">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="accountHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="routingNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountType" type="tns:AccountType" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="allowedTransactionType" type="tns:ECPTransactionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DirectDebit">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="accountHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="countryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="bankSortCode" type="tns:AccountType" />
      <xsd:element minOccurs="0" name="ribCode" type="tns:AccountType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PayPal">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="emailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="passwordHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentMethod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="type" type="tns:PaymentMethodType" />
      <xsd:element minOccurs="0" name="creditCard" type="tns:CreditCard" />
      <xsd:element minOccurs="0" name="ecp" type="tns:ECP" />
      <xsd:element minOccurs="0" name="directDebit" type="tns:DirectDebit" />
      <xsd:element minOccurs="0" name="paypal" type="tns:PayPal" />
      <xsd:element minOccurs="0" name="nameValues" type="tns:ArrayOfNameValuePairs" />
      <xsd:element minOccurs="0" name="accountHolderName" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="customerSpecifiedType" type="xsd:string" />
      <xsd:element minOccurs="0" name="customerDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantPaymentMethodId" type="xsd:string" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="sortOrder" type="xsd:int" />
      <xsd:element minOccurs="0" name="active" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPaymentMethods">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:PaymentMethod[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PaymentProvider">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentType" type="tns:PaymentMethodType" />
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Account">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailTypePreference" type="tns:EmailPreference" />
      <xsd:element minOccurs="0" name="preferredLanguage" type="xsd:string" />
      <xsd:element minOccurs="0" name="warnBeforeAutobilling" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="company" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="shippingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="paymentMethods" type="tns:ArrayOfPaymentMethods" />
      <xsd:element minOccurs="0" name="nameValues" type="tns:ArrayOfNameValuePairs" />
      <xsd:element minOccurs="0" name="taxExemptions" type="vin:ArrayOfTaxExemptions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAccounts">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:Account[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MerchantEntitlementId">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="id" type="xsd:string" />
      <xsd:element minOccurs="1" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfMerchantEntitlementIds">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:MerchantEntitlementId[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NameValuePair">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfNameValuePairs">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:NameValuePair[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Product">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantProductId" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="tns:ProductStatus" />
      <xsd:element minOccurs="0" name="taxClassification" type="tns:TaxClassification" />
      <xsd:element minOccurs="0" name="defaultBillingPlan" type="tns:BillingPlan" />
      <xsd:element minOccurs="0" name="endOfLifeTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="nameValues" type="tns:ArrayOfNameValuePairs" />
      <xsd:element minOccurs="0" name="merchantEntitlementIds" type="tns:ArrayOfMerchantEntitlementIds" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfProducts">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:Product[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Return">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="returnCode" type="tns:ReturnCode" />
      <xsd:element minOccurs="0" name="returnString" type="xsd:string" />
      <xsd:element minOccurs="0" name="soapId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoBillTerms">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="PeriodStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="DontBillDuration" type="xsd:int" />
      <xsd:element minOccurs="0" name="MinCommitment" type="xsd:int" />
      <xsd:element minOccurs="1" name="BillFrequency" type="tns:BillingPeriodType" />
      <xsd:element minOccurs="1" name="BillFrequencyQuantity" type="xsd:int" />
      <xsd:element minOccurs="0" name="BillPrice" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="BillCurrency" type="xsd:string" />
      <xsd:element minOccurs="0" name="BillPriceExpire" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="BillDayOfMonth" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FutureAutoBillEvent">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="PSN" type="xsd:string" />
      <xsd:element minOccurs="0" name="BillDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="Amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Currency" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfFutureAutoBillEvents">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:FutureAutoBillEvent[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ABProduct">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="AutoBillTerms" type="tns:AutoBillTerms" />
      <xsd:element minOccurs="1" name="PSN" type="xsd:string" />
      <xsd:element minOccurs="1" name="SKUp" type="xsd:string" />
      <xsd:element minOccurs="0" name="SKUm" type="xsd:string" />
      <xsd:element minOccurs="0" name="SKUf" type="xsd:string" />
      <xsd:element minOccurs="0" name="PLANG" type="xsd:string" />
      <xsd:element minOccurs="0" name="VendorTag" type="xsd:string" />
      <xsd:element minOccurs="0" name="VendorID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfABProducts">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:ABProduct[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfBPDetails">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:BPDetails[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPSNs">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="xsd:string[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfTransactionIDs">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="xsd:string[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BPDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
      <xsd:element minOccurs="1" name="BPID" type="xsd:string" />
      <xsd:element minOccurs="1" name="PaymentType" type="tns:PaymentMethodType" />
      <xsd:element minOccurs="1" name="CCType" type="xsd:string" />
      <xsd:element minOccurs="1" name="BillingAddress" type="tns:Address" />
      <xsd:element minOccurs="1" name="AccountNumber" type="xsd:string" />
      <xsd:element minOccurs="1" name="ExpDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="CVV2" type="xsd:string" />
      <xsd:element minOccurs="1" name="CardHolderName" type="xsd:string" />
      <xsd:element minOccurs="1" name="RecentlyValidated" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="AdditionalValues" type="tns:ArrayOfNameValuePairs" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BPInfo">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="Name" type="xsd:string" />
      <xsd:element minOccurs="1" name="BPID" type="xsd:string" />
      <xsd:element minOccurs="1" name="PaymentType" type="tns:PaymentMethodType" />
      <xsd:element minOccurs="1" name="CCType" type="xsd:string" />
      <xsd:element minOccurs="1" name="Last4" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountDetails">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="GUID" type="xsd:string" />
      <xsd:element minOccurs="1" name="EmailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="Language" type="xsd:string" />
      <xsd:element minOccurs="0" name="ShippingAddress" type="tns:Address" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Order">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="TotalPrice" type="xsd:decimal" />
      <xsd:element minOccurs="1" name="TotalTax" type="xsd:decimal" />
      <xsd:element minOccurs="1" name="Currency" type="xsd:string" />
      <xsd:element minOccurs="1" name="GUID" type="xsd:string" />
      <xsd:element minOccurs="1" name="ARFlag" type="xsd:boolean" />
      <xsd:element minOccurs="1" name="IUFlag" type="xsd:boolean" />
      <xsd:element minOccurs="1" name="SKUp" type="xsd:string" />
      <xsd:element minOccurs="1" name="TransID" type="xsd:string" />
      <xsd:element minOccurs="0" name="AutoBillTerms" type="tns:AutoBillTerms" />
      <xsd:element minOccurs="0" name="BPDetails" type="tns:BPDetails" />
      <xsd:element minOccurs="0" name="BPInfo" type="tns:BPInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="Price" type="xsd:decimal" />
      <xsd:element minOccurs="1" name="ARFlag" type="xsd:boolean" />
      <xsd:element minOccurs="1" name="IUFlag" type="xsd:boolean" />
      <xsd:element minOccurs="1" name="SKUp" type="xsd:string" />
      <xsd:element minOccurs="0" name="PSN" type="xsd:string" />
      <xsd:element minOccurs="1" name="TransID" type="xsd:string" />
      <xsd:element minOccurs="1" name="XDMOptions" type="xsd:string" />
      <xsd:element minOccurs="1" name="VendorTag" type="xsd:string" />
      <xsd:element minOccurs="1" name="VendorID" type="xsd:string" />
      <xsd:element minOccurs="1" name="AutoBillTerms" type="tns:AutoBillTerms" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfOrderItems">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:OrderItem[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="orderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="xmitCount" type="xsd:int" />
      <xsd:element minOccurs="0" name="orderedDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="orderCategoryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="priceListName" type="xsd:string" />
      <xsd:element minOccurs="0" name="priceListPrecision" type="xsd:int" />
      <xsd:element minOccurs="0" name="transactionalCurrCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="settlementAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="opTaxType" type="xsd:string" />
      <xsd:element minOccurs="0" name="opPaymentMethod" type="xsd:string" />
      <xsd:element minOccurs="0" name="opPaymentType" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantId" type="xsd:string" />
      <xsd:element minOccurs="0" name="approvalRequestId" type="xsd:string" />
      <xsd:element minOccurs="0" name="settlementRequestId" type="xsd:string" />
      <xsd:element minOccurs="0" name="transRefNo" type="xsd:string" />
      <xsd:element minOccurs="0" name="creditCardNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="creditCardExpirationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="issueNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="issueDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="checkAccountNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="checkAccountType" type="xsd:string" />
      <xsd:element minOccurs="0" name="checkNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="ppOsr" type="xsd:string" />
      <xsd:element minOccurs="0" name="ppTypeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="ppCurrencyCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="ppAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ppDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="chOsr" type="xsd:string" />
      <xsd:element minOccurs="0" name="chTypeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="chCurrencyCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="chAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="chDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="chAttribute1" type="xsd:string" />
      <xsd:element minOccurs="0" name="chAttribute2" type="xsd:string" />
      <xsd:element minOccurs="0" name="chAttribute3" type="xsd:string" />
      <xsd:element minOccurs="0" name="chAttribute4" type="xsd:string" />
      <xsd:element minOccurs="0" name="refundSource" type="xsd:string" />
      <xsd:element minOccurs="0" name="refundType" type="xsd:string" />
      <xsd:element minOccurs="0" name="returnReasonCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="origOpOrderId" type="xsd:string" />
      <xsd:element minOccurs="0" name="customerProfileGuid" type="xsd:string" />
      <xsd:element minOccurs="0" name="companyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="title" type="xsd:string" />
      <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="address1" type="xsd:string" />
      <xsd:element minOccurs="0" name="address2" type="xsd:string" />
      <xsd:element minOccurs="0" name="address3" type="xsd:string" />
      <xsd:element minOccurs="0" name="city" type="xsd:string" />
      <xsd:element minOccurs="0" name="state" type="xsd:string" />
      <xsd:element minOccurs="0" name="province" type="xsd:string" />
      <xsd:element minOccurs="0" name="postalCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="county" type="xsd:string" />
      <xsd:element minOccurs="0" name="country" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="phoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="vendorAttribute1" type="xsd:string" />
      <xsd:element minOccurs="0" name="vendorAttribute2" type="xsd:string" />
      <xsd:element minOccurs="0" name="vendorAttribute3" type="xsd:string" />
      <xsd:element minOccurs="0" name="vendorAttribute4" type="xsd:string" />
      <xsd:element minOccurs="1" name="orderLine" type="tns:ArrayOfOrderLineTypes" />
      <xsd:element minOccurs="1" name="opOrderId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfOrderTypes">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:orderType[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="orderLineType">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="orderedQuantity" type="xsd:decimal" />
      <xsd:element minOccurs="1" name="unitSellingPrice" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="inventoryItem" type="xsd:int" />
      <xsd:element minOccurs="0" name="unitOfMeasure" type="xsd:string" />
      <xsd:element minOccurs="0" name="promoCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="unitListPrice" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="symVatId" type="xsd:string" />
      <xsd:element minOccurs="0" name="vendorId" type="xsd:string" />
      <xsd:element minOccurs="0" name="vendorServiceTag" type="xsd:string" />
      <xsd:element minOccurs="0" name="refundSource" type="xsd:string" />
      <xsd:element minOccurs="0" name="refundType" type="xsd:string" />
      <xsd:element minOccurs="0" name="returnReasonCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="oracleTaxCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="cityTaxName" type="xsd:string" />
      <xsd:element minOccurs="0" name="cityTaxAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="countyTaxName" type="xsd:string" />
      <xsd:element minOccurs="0" name="countyTaxAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="districtTaxName" type="xsd:string" />
      <xsd:element minOccurs="0" name="districtTaxAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="stateTaxName" type="xsd:string" />
      <xsd:element minOccurs="0" name="stateTaxAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="vatTaxName" type="xsd:string" />
      <xsd:element minOccurs="0" name="vatTaxAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="taxEngine" type="xsd:string" />
      <xsd:element minOccurs="0" name="vendorAttribute1" type="xsd:string" />
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:string" />
      <xsd:element minOccurs="1" name="opLineId" type="xsd:string" />
      <xsd:element minOccurs="1" name="origOpLineId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfOrderLineTypes">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:orderLineType[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="orderExceptionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="processingDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="settlementAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="transRefNo" type="xsd:string" />
      <xsd:element minOccurs="0" name="customerProfileGuid" type="xsd:string" />
      <xsd:element minOccurs="0" name="exceptionCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="exceptionMessage" type="xsd:string" />
      <xsd:element minOccurs="0" name="supplementalInfo1" type="xsd:string" />
      <xsd:element minOccurs="0" name="timesSeen" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfOrderExceptionTypes">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:orderExceptionType[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ABRefund">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ABTxnID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Amt" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="cancelFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="totalFlag" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfABRefunds">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:ABRefund[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RefundResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ABTxnID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Amt" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="BPID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Code" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfRefundResults">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:RefundResult[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AutoBillRenewal">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PSN" type="xsd:string" />
      <xsd:element minOccurs="0" name="Amt" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="Date" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAutoBillRenewals">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:AutoBillRenewal[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ScoreControl">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="test" type="tns:ScoreControlTests" />
      <xsd:element minOccurs="1" name="score" type="xsd:int" />
      <xsd:element minOccurs="1" name="active" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfScoreControls">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:ScoreControl[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaptureResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="returnCode" type="xsd:int" />
      <xsd:element minOccurs="1" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="1" name="originaMerchantTransactionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCaptureResults">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:CaptureResult[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CancelResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="returnCode" type="xsd:int" />
      <xsd:element minOccurs="1" name="merchantTransactionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCancelResults">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:CancelResult[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ScoreCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="id" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfScoreCodes">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:ScoreCode[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TransactionItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sku" type="xsd:string" />
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" name="price" type="xsd:decimal" />
      <xsd:element minOccurs="1" name="quantity" type="xsd:int" />
      <xsd:element minOccurs="0" name="taxClassification" type="tns:TaxClassification" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfTransactionItems">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:TransactionItem[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatus">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="status" type="tns:TransactionStatusType" />
      <xsd:element minOccurs="1" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="authCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="avsCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="cvnCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="verificationCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfTransactionStatuses">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:TransactionStatus[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfTransactions">
    <xsd:complexContent>
      <xsd:restriction base="enc:Array">
        <xsd:attribute ref="enc:arrayType" wsdl:arrayType="tns:Transaction[]" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Transaction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="previousMerchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="account" type="tns:Account" />
      <xsd:element minOccurs="0" name="sourcePaymentMethod" type="tns:PaymentMethod" />
      <xsd:element minOccurs="0" name="destPaymentMethod" type="tns:PaymentMethod" />
      <xsd:element minOccurs="0" name="ecpTransactionType" type="tns:ECPTransactionType" />
      <xsd:element minOccurs="0" name="status" type="tns:TransactionStatus" />
      <xsd:element minOccurs="0" name="sourcePhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="shippingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="nameValues" type="tns:ArrayOfNameValuePairs" />
      <xsd:element minOccurs="0" name="transactionItems" type="tns:ArrayOfTransactionItems" />
      <xsd:element minOccurs="0" name="merchantAffiliateId" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAffiliateSubId" type="xsd:string" />
      <xsd:element minOccurs="0" name="userAgent" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element minOccurs="0" name="sourceMacAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="sourceIp" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxExemptions" type="vin:ArrayOfTaxExemptions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ActivityCancelInitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Merchant" />
      <xsd:enumeration value="Customer" />
      <xsd:enumeration value="Chargeback" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ActivityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Login" />
      <xsd:enumeration value="Logout" />
      <xsd:enumeration value="URIView" />
      <xsd:enumeration value="Phone" />
      <xsd:enumeration value="Email" />
      <xsd:enumeration value="Fulfillment" />
      <xsd:enumeration value="Usage" />
      <xsd:enumeration value="NamedValue" />
      <xsd:enumeration value="Cancellation" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ActivityCallType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FromMerchantToCustomer" />
      <xsd:enumeration value="FromMerchantToOther" />
      <xsd:enumeration value="FromCustomerToMerchant" />
      <xsd:enumeration value="FromCustomerToOther" />
      <xsd:enumeration value="FromOtherToCustomer" />
      <xsd:enumeration value="FromOtherToMerchant" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AddressType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Shipping" />
      <xsd:enumeration value="Billing" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AutoBillStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Suspended" />
      <xsd:enumeration value="Cancelled" />
      <xsd:enumeration value="Upgraded" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DuplicateBehavior">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Duplicate" />
      <xsd:enumeration value="SucceedIgnore" />
      <xsd:enumeration value="Fail" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BillingPeriodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Day" />
      <xsd:enumeration value="Week" />
      <xsd:enumeration value="Month" />
      <xsd:enumeration value="Year" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BillingPlanStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Suspended" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChargebackStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New" />
      <xsd:enumeration value="Retrieval" />
      <xsd:enumeration value="Responded" />
      <xsd:enumeration value="Legitimate" />
      <xsd:enumeration value="Challenged" />
      <xsd:enumeration value="Represented" />
      <xsd:enumeration value="Won" />
      <xsd:enumeration value="Lost" />
      <xsd:enumeration value="CollectionsNew" />
      <xsd:enumeration value="CollectionsWon" />
      <xsd:enumeration value="CollectionsLost" />
      <xsd:enumeration value="Expired" />
      <xsd:enumeration value="Pass" />
      <xsd:enumeration value="Incomplete" />
      <xsd:enumeration value="NewSecondChargeback" />
      <xsd:enumeration value="Duplicate" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmailTemplateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PreBilling" />
      <xsd:enumeration value="PreBillingNoPaymentMethod" />
      <xsd:enumeration value="Success" />
      <xsd:enumeration value="FailureSoftFail" />
      <xsd:enumeration value="FailureHardFail" />
      <xsd:enumeration value="FailureNoPaymentMethod" />
      <xsd:enumeration value="BillingDelay" />
      <xsd:enumeration value="BillingDelayNoPaymentMethod" />
      <xsd:enumeration value="Cancellation" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PaymentMethodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CreditCard" />
      <xsd:enumeration value="PayPal" />
      <xsd:enumeration value="ECP" />
      <xsd:enumeration value="DirectDebit" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="HashType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="sha1" />
      <xsd:enumeration value="md5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccountType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ConsumerChecking" />
      <xsd:enumeration value="ConsumerSavings" />
      <xsd:enumeration value="CorporateChecking" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ECPTransactionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="All" />
      <xsd:enumeration value="Inbound" />
      <xsd:enumeration value="Outbound" />
      <xsd:enumeration value="InboundOutbound" />
      <xsd:enumeration value="Transfer" />
      <xsd:enumeration value="NA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmailPreference">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="plaintext" />
      <xsd:enumeration value="html" />
      <xsd:enumeration value="multipart" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PaymentUpdateBehavior">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Update" />
      <xsd:enumeration value="Validate" />
      <xsd:enumeration value="CatchUp" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProductStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Suspended" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TaxClassification">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PhysicalGoods" />
      <xsd:enumeration value="DownloadableExecutableSoftware" />
      <xsd:enumeration value="DownloadableElectronicData" />
      <xsd:enumeration value="Service" />
      <xsd:enumeration value="TaxExempt" />
      <xsd:enumeration value="OtherTaxable" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReturnCode">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="200" />
      <xsd:enumeration value="201" />
      <xsd:enumeration value="202" />
      <xsd:enumeration value="203" />
      <xsd:enumeration value="204" />
      <xsd:enumeration value="205" />
      <xsd:enumeration value="206" />
      <xsd:enumeration value="300" />
      <xsd:enumeration value="301" />
      <xsd:enumeration value="302" />
      <xsd:enumeration value="303" />
      <xsd:enumeration value="304" />
      <xsd:enumeration value="305" />
      <xsd:enumeration value="306" />
      <xsd:enumeration value="307" />
      <xsd:enumeration value="400" />
      <xsd:enumeration value="401" />
      <xsd:enumeration value="402" />
      <xsd:enumeration value="403" />
      <xsd:enumeration value="404" />
      <xsd:enumeration value="405" />
      <xsd:enumeration value="406" />
      <xsd:enumeration value="407" />
      <xsd:enumeration value="408" />
      <xsd:enumeration value="409" />
      <xsd:enumeration value="410" />
      <xsd:enumeration value="411" />
      <xsd:enumeration value="412" />
      <xsd:enumeration value="413" />
      <xsd:enumeration value="414" />
      <xsd:enumeration value="415" />
      <xsd:enumeration value="416" />
      <xsd:enumeration value="417" />
      <xsd:enumeration value="500" />
      <xsd:enumeration value="501" />
      <xsd:enumeration value="502" />
      <xsd:enumeration value="503" />
      <xsd:enumeration value="504" />
      <xsd:enumeration value="505" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DisputeBillState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None" />
      <xsd:enumeration value="Disputed" />
      <xsd:enumeration value="Resolved" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BPValidationStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Validated" />
      <xsd:enumeration value="Rejected" />
      <xsd:enumeration value="DoesNotApply" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ScoreControlTests">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FirstTimeCardMerchant" />
      <xsd:enumeration value="FirstTimeCardSku" />
      <xsd:enumeration value="FirstTimeShippingAddressMerchant" />
      <xsd:enumeration value="FirstTimeShippingAddressSku" />
      <xsd:enumeration value="FirstTimeBillingAddressMerchant" />
      <xsd:enumeration value="FirstTimeBillingAddressSku" />
      <xsd:enumeration value="FirstTimeCardAffiliate" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TransactionStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New" />
      <xsd:enumeration value="AuthorizedPending" />
      <xsd:enumeration value="Authorized" />
      <xsd:enumeration value="AuthorizedForValidation" />
      <xsd:enumeration value="Cancelled" />
      <xsd:enumeration value="Captured" />
      <xsd:enumeration value="Settled" />
      <xsd:enumeration value="Refunded" />
      <xsd:enumeration value="Pending" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>