website/common/vindicia/wsdl/prodtest/Product.wsdl

<definitions name="Product" targetNamespace="http://soap.vindicia.com/Product" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.vindicia.com/Product" xmlns:vin="http://soap.vindicia.com/Vindicia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdl="http://soap.vindicia.com/Product" >
  <documentation>WSDL Specification for Product</documentation>
  <types>
    <xsd:schema targetNamespace="http://soap.vindicia.com/Product">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://soap.vindicia.com/Vindicia" schemaLocation="./Vindicia.xsd" />
    </xsd:schema>
  </types>
  <message name="update_in">
    <part name="auth" type="vin:Authentication" />
    <part name="product" type="vin:Product" />
    <part name="duplicateBehavior" type="vin:DuplicateBehavior" />
  </message>
  <message name="update_out">
    <part name="return" type="vin:Return" />
    <part name="product" type="vin:Product" />
    <part name="created" type="xsd:boolean" />
  </message>
  <message name="fetchByVid_in">
    <part name="auth" type="vin:Authentication" />
    <part name="vid" type="xsd:string" />
  </message>
  <message name="fetchByVid_out">
    <part name="return" type="vin:Return" />
    <part name="product" type="vin:Product" />
  </message>
  <message name="fetchByMerchantProductId_in">
    <part name="auth" type="vin:Authentication" />
    <part name="merchantProductId" type="xsd:string" />
  </message>
  <message name="fetchByMerchantProductId_out">
    <part name="return" type="vin:Return" />
    <part name="product" type="vin:Product" />
  </message>
  <message name="fetchByAccount_in">
    <part name="auth" type="vin:Authentication" />
    <part name="account" type="vin:Account" />
  </message>
  <message name="fetchByAccount_out">
    <part name="return" type="vin:Return" />
    <part name="products" type="vin:ArrayOfProducts" />
  </message>
  <message name="fetchAll_in">
    <part name="auth" type="vin:Authentication" />
    <part name="page" type="xsd:int" />
    <part name="pageSize" type="xsd:int" />
  </message>
  <message name="fetchAll_out">
    <part name="return" type="vin:Return" />
    <part name="products" type="vin:ArrayOfProducts" />
  </message>
  <message name="fetchByMerchantEntitlementId_in">
    <part name="auth" type="vin:Authentication" />
    <part name="merchantEntitlementId" type="xsd:string" />
  </message>
  <message name="fetchByMerchantEntitlementId_out">
    <part name="return" type="vin:Return" />
    <part name="products" type="vin:ArrayOfProducts" />
  </message>
  <portType name="ProductPortType">
    <operation name="update" parameterOrder="auth product duplicateBehavior">
      <input message="tns:update_in" />
      <output message="tns:update_out" />
    </operation>
    <operation name="fetchByVid" parameterOrder="auth vid">
      <input message="tns:fetchByVid_in" />
      <output message="tns:fetchByVid_out" />
    </operation>
    <operation name="fetchByMerchantProductId" parameterOrder="auth merchantProductId">
      <input message="tns:fetchByMerchantProductId_in" />
      <output message="tns:fetchByMerchantProductId_out" />
    </operation>
    <operation name="fetchByAccount" parameterOrder="auth account">
      <input message="tns:fetchByAccount_in" />
      <output message="tns:fetchByAccount_out" />
    </operation>
    <operation name="fetchAll" parameterOrder="auth page pageSize">
      <input message="tns:fetchAll_in" />
      <output message="tns:fetchAll_out" />
    </operation>
    <operation name="fetchByMerchantEntitlementId" parameterOrder="auth merchantEntitlementId">
      <input message="tns:fetchByMerchantEntitlementId_in" />
      <output message="tns:fetchByMerchantEntitlementId_out" />
    </operation>
  </portType>
  <binding name="ProductBinding" type="tns:ProductPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="update">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Creates a new Product object, or updates an existing one.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>product</b></dt>
<dd>Object to create</dd>
<dt><b>duplicateBehavior</b></dt>
<dd>What to do if a duplicate product is submitted</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
<dt><b>created</b></dt>
<dd>True if the object was created new</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#update" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a product by Vindicia's unique ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByVid" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByMerchantProductId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a product by mrchant's unique id<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantProductId</b></dt>
<dd>Merchant's unique id for this object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByMerchantProductId" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByAccount">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads an array of products by Account object<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>account</b></dt>
<dd>Account to load by</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByAccount" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </output>
    </operation>
    <operation name="fetchAll">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
ARRAY(0x8aece14)<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>page</b></dt>
<dd>The offset, based on pageSize, to return.</dd>
<dt><b>pageSize</b></dt>
<dd>The number of products to return per page.</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchAll" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </output>
    </operation>
    <operation name="fetchByMerchantEntitlementId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all Products that grant an entitlement<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantEntitlementId</b></dt>
<dd>Merchant's unique entitlement id</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByMerchantEntitlementId" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.vindicia.com/Product" use="encoded" />
      </output>
    </operation>
  </binding>
  <service name="Product">
    <port binding="tns:ProductBinding" name="ProductPort">
      <soap:address location="https://soap.prodtest.sj.vindicia.com/v3.0/soap.pl" />
    </port>
  </service>
</definitions>