website/common/Service References/Vindicia_OLD.Product/Product1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsdl="http://soap.vindicia.com/v7_0/Product" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vin="http://soap.vindicia.com/v7_0/Vindicia" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://soap.vindicia.com/v7_0/Product" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Product" targetNamespace="http://soap.vindicia.com/v7_0/Product" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>WSDL Specification for Product</documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://soap.vindicia.com/v7_0/Product">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import schemaLocation="./Vindicia.xsd" namespace="http://soap.vindicia.com/v7_0/Vindicia" />
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="product" type="vin:Product" />
            <xsd:element minOccurs="0" name="duplicateBehavior" type="vin:DuplicateBehavior" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="product" type="vin:Product" />
            <xsd:element name="created" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByVid">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="vid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByVidResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="product" type="vin:Product" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByMerchantProductId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="merchantProductId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByMerchantProductIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="product" type="vin:Product" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="account" type="vin:Account" />
            <xsd:element minOccurs="0" name="includeChildren" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="products" type="vin:Product" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchAll">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element minOccurs="0" name="page" type="xsd:int" />
            <xsd:element minOccurs="0" name="pageSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchAllResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="products" type="vin:Product" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByMerchantEntitlementId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="merchantEntitlementId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByMerchantEntitlementIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="products" type="vin:Product" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="update_in">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="update_out">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByVid_in">
    <wsdl:part name="parameters" element="tns:fetchByVid" />
  </wsdl:message>
  <wsdl:message name="fetchByVid_out">
    <wsdl:part name="parameters" element="tns:fetchByVidResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantProductId_in">
    <wsdl:part name="parameters" element="tns:fetchByMerchantProductId" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantProductId_out">
    <wsdl:part name="parameters" element="tns:fetchByMerchantProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByAccount_in">
    <wsdl:part name="parameters" element="tns:fetchByAccount" />
  </wsdl:message>
  <wsdl:message name="fetchByAccount_out">
    <wsdl:part name="parameters" element="tns:fetchByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="fetchAll_in">
    <wsdl:part name="parameters" element="tns:fetchAll" />
  </wsdl:message>
  <wsdl:message name="fetchAll_out">
    <wsdl:part name="parameters" element="tns:fetchAllResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantEntitlementId_in">
    <wsdl:part name="parameters" element="tns:fetchByMerchantEntitlementId" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantEntitlementId_out">
    <wsdl:part name="parameters" element="tns:fetchByMerchantEntitlementIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductPortType">
    <wsdl:operation name="update">
      <wsdl:input message="tns:update_in" />
      <wsdl:output message="tns:update_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByVid">
      <wsdl:input message="tns:fetchByVid_in" />
      <wsdl:output message="tns:fetchByVid_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantProductId">
      <wsdl:input message="tns:fetchByMerchantProductId_in" />
      <wsdl:output message="tns:fetchByMerchantProductId_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByAccount">
      <wsdl:input message="tns:fetchByAccount_in" />
      <wsdl:output message="tns:fetchByAccount_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchAll">
      <wsdl:input message="tns:fetchAll_in" />
      <wsdl:output message="tns:fetchAll_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantEntitlementId">
      <wsdl:input message="tns:fetchByMerchantEntitlementId_in" />
      <wsdl:output message="tns:fetchByMerchantEntitlementId_out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductBinding" type="tns:ProductPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="update">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Creates a new Product object, or updates an existing one.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>product</b></dt>
<dd>Object to create</dd>
<dt><b>duplicateBehavior</b></dt>
<dd>What to do if a duplicate product is submitted</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
<dt><b>created</b></dt>
<dd>True if the object was created new</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Product#update" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a product by Vindicia's unique ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Product#fetchByVid" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantProductId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a product by mrchant's unique id<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantProductId</b></dt>
<dd>Merchant's unique id for this object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Product#fetchByMerchantProductId" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByAccount">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads an array of products by Account object<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>account</b></dt>
<dd>Account to load by</dd>
<dt><b>includeChildren</b></dt>
<dd>If true, include in the result all the products for any child accounts of this account (if false, or if omitted, we will not include them)</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Product#fetchByAccount" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchAll">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>page</b></dt>
<dd>The offset, based on pageSize, to return.</dd>
<dt><b>pageSize</b></dt>
<dd>The number of products to return per page.</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Product#fetchAll" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantEntitlementId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all Products that grant an entitlement<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantEntitlementId</b></dt>
<dd>Merchant's unique entitlement id</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Product#fetchByMerchantEntitlementId" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Product">
    <wsdl:port name="ProductPort" binding="tns:ProductBinding">
      <soap:address location="https://soap.vindicia.com/soap.pl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>