website/common/Service References/Vindicia_OLD.Transaction/Transaction1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsdl="http://soap.vindicia.com/v7_0/Transaction" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vin="http://soap.vindicia.com/v7_0/Vindicia" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://soap.vindicia.com/v7_0/Transaction" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Transaction" targetNamespace="http://soap.vindicia.com/v7_0/Transaction" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>WSDL Specification for Transaction</documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://soap.vindicia.com/v7_0/Transaction">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import schemaLocation="./Vindicia.xsd" namespace="http://soap.vindicia.com/v7_0/Vindicia" />
      <xsd:element name="fetchByVid">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="vid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByVidResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByWebSessionVid">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="vid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByWebSessionVidResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="account" type="vin:Account" />
            <xsd:element minOccurs="0" name="includeChildren" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByMerchantTransactionId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="merchantTransactionId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByMerchantTransactionIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchDeltaSince">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="timestamp" type="xsd:dateTime" />
            <xsd:element name="endTimestamp" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="page" type="xsd:int" />
            <xsd:element minOccurs="0" name="pageSize" type="xsd:int" />
            <xsd:element minOccurs="0" name="paymentMethod" type="vin:PaymentMethod" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchDeltaSinceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchDelta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="pageSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchDeltaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
            <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByAutobill">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="autobill" type="vin:AutoBill" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByAutobillResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByPaymentMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="paymentMethod" type="vin:PaymentMethod" />
            <xsd:element name="page" type="xsd:int" />
            <xsd:element name="pageSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchByPaymentMethodResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="auth">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="transaction" type="vin:Transaction" />
            <xsd:element name="minChargebackProbability" type="xsd:int" />
            <xsd:element minOccurs="0" name="sendEmailNotification" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="campaignCode" type="xsd:string" />
            <xsd:element minOccurs="0" name="dryrun" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
            <xsd:element minOccurs="0" name="score" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="scoreCodes" type="vin:ScoreCode" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="calculateSalesTax">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="calculateSalesTaxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
            <xsd:element minOccurs="0" name="addressType" type="vin:AddressType" />
            <xsd:element minOccurs="0" name="originalAddress" type="vin:Address" />
            <xsd:element minOccurs="0" name="correctedAddress" type="vin:Address" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="taxItems" type="vin:SalesTax" />
            <xsd:element minOccurs="0" name="totalTax" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="capture">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="captureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element name="qtySuccess" type="xsd:int" />
            <xsd:element name="qtyFail" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="results" type="vin:CaptureResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element name="qtySuccess" type="xsd:int" />
            <xsd:element name="qtyFail" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="results" type="vin:CancelResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authCapture">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="transaction" type="vin:Transaction" />
            <xsd:element minOccurs="0" name="sendEmailNotification" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="ignoreAvsPolicy" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="ignoreCvnPolicy" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="campaignCode" type="xsd:string" />
            <xsd:element minOccurs="0" name="dryrun" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authCaptureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="report">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="score">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="scoreResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
            <xsd:element minOccurs="0" name="score" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="scoreCodes" type="vin:ScoreCode" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finalizePayPalAuth">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="payPalTransactionId" type="xsd:string" />
            <xsd:element name="success" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finalizePayPalAuthResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finalizeBokuAuthCapture">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="transactionVid" type="xsd:string" />
            <xsd:element name="success" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finalizeBokuAuthCaptureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finalizeCustomerAction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="transactionVid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finalizeCustomerActionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addressAndSalesTaxFromPayPalOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element name="payPalTransactionId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addressAndSalesTaxFromPayPalOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
            <xsd:element minOccurs="0" name="SalesTaxAddress" type="vin:Address" />
            <xsd:element minOccurs="0" name="BillingAddress" type="vin:Address" />
            <xsd:element minOccurs="0" name="ShippingAddress" type="vin:Address" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="taxItems" type="vin:SalesTax" />
            <xsd:element minOccurs="0" name="totalTax" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="subtotalAmount" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="totalAmount" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="migrate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auth" type="vin:Authentication" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="migrationTransactions" type="vin:MigrationTransaction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="migrateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="vin:Return" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="response" type="vin:TransactionValidationResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="fetchByVid_in">
    <wsdl:part name="parameters" element="tns:fetchByVid" />
  </wsdl:message>
  <wsdl:message name="fetchByVid_out">
    <wsdl:part name="parameters" element="tns:fetchByVidResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByWebSessionVid_in">
    <wsdl:part name="parameters" element="tns:fetchByWebSessionVid" />
  </wsdl:message>
  <wsdl:message name="fetchByWebSessionVid_out">
    <wsdl:part name="parameters" element="tns:fetchByWebSessionVidResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByAccount_in">
    <wsdl:part name="parameters" element="tns:fetchByAccount" />
  </wsdl:message>
  <wsdl:message name="fetchByAccount_out">
    <wsdl:part name="parameters" element="tns:fetchByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantTransactionId_in">
    <wsdl:part name="parameters" element="tns:fetchByMerchantTransactionId" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantTransactionId_out">
    <wsdl:part name="parameters" element="tns:fetchByMerchantTransactionIdResponse" />
  </wsdl:message>
  <wsdl:message name="fetchDeltaSince_in">
    <wsdl:part name="parameters" element="tns:fetchDeltaSince" />
  </wsdl:message>
  <wsdl:message name="fetchDeltaSince_out">
    <wsdl:part name="parameters" element="tns:fetchDeltaSinceResponse" />
  </wsdl:message>
  <wsdl:message name="fetchDelta_in">
    <wsdl:part name="parameters" element="tns:fetchDelta" />
  </wsdl:message>
  <wsdl:message name="fetchDelta_out">
    <wsdl:part name="parameters" element="tns:fetchDeltaResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByAutobill_in">
    <wsdl:part name="parameters" element="tns:fetchByAutobill" />
  </wsdl:message>
  <wsdl:message name="fetchByAutobill_out">
    <wsdl:part name="parameters" element="tns:fetchByAutobillResponse" />
  </wsdl:message>
  <wsdl:message name="fetchByPaymentMethod_in">
    <wsdl:part name="parameters" element="tns:fetchByPaymentMethod" />
  </wsdl:message>
  <wsdl:message name="fetchByPaymentMethod_out">
    <wsdl:part name="parameters" element="tns:fetchByPaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="auth_in">
    <wsdl:part name="parameters" element="tns:auth" />
  </wsdl:message>
  <wsdl:message name="auth_out">
    <wsdl:part name="parameters" element="tns:authResponse" />
  </wsdl:message>
  <wsdl:message name="calculateSalesTax_in">
    <wsdl:part name="parameters" element="tns:calculateSalesTax" />
  </wsdl:message>
  <wsdl:message name="calculateSalesTax_out">
    <wsdl:part name="parameters" element="tns:calculateSalesTaxResponse" />
  </wsdl:message>
  <wsdl:message name="capture_in">
    <wsdl:part name="parameters" element="tns:capture" />
  </wsdl:message>
  <wsdl:message name="capture_out">
    <wsdl:part name="parameters" element="tns:captureResponse" />
  </wsdl:message>
  <wsdl:message name="cancel_in">
    <wsdl:part name="parameters" element="tns:cancel" />
  </wsdl:message>
  <wsdl:message name="cancel_out">
    <wsdl:part name="parameters" element="tns:cancelResponse" />
  </wsdl:message>
  <wsdl:message name="authCapture_in">
    <wsdl:part name="parameters" element="tns:authCapture" />
  </wsdl:message>
  <wsdl:message name="authCapture_out">
    <wsdl:part name="parameters" element="tns:authCaptureResponse" />
  </wsdl:message>
  <wsdl:message name="report_in">
    <wsdl:part name="parameters" element="tns:report" />
  </wsdl:message>
  <wsdl:message name="report_out">
    <wsdl:part name="parameters" element="tns:reportResponse" />
  </wsdl:message>
  <wsdl:message name="score_in">
    <wsdl:part name="parameters" element="tns:score" />
  </wsdl:message>
  <wsdl:message name="score_out">
    <wsdl:part name="parameters" element="tns:scoreResponse" />
  </wsdl:message>
  <wsdl:message name="finalizePayPalAuth_in">
    <wsdl:part name="parameters" element="tns:finalizePayPalAuth" />
  </wsdl:message>
  <wsdl:message name="finalizePayPalAuth_out">
    <wsdl:part name="parameters" element="tns:finalizePayPalAuthResponse" />
  </wsdl:message>
  <wsdl:message name="finalizeBokuAuthCapture_in">
    <wsdl:part name="parameters" element="tns:finalizeBokuAuthCapture" />
  </wsdl:message>
  <wsdl:message name="finalizeBokuAuthCapture_out">
    <wsdl:part name="parameters" element="tns:finalizeBokuAuthCaptureResponse" />
  </wsdl:message>
  <wsdl:message name="finalizeCustomerAction_in">
    <wsdl:part name="parameters" element="tns:finalizeCustomerAction" />
  </wsdl:message>
  <wsdl:message name="finalizeCustomerAction_out">
    <wsdl:part name="parameters" element="tns:finalizeCustomerActionResponse" />
  </wsdl:message>
  <wsdl:message name="addressAndSalesTaxFromPayPalOrder_in">
    <wsdl:part name="parameters" element="tns:addressAndSalesTaxFromPayPalOrder" />
  </wsdl:message>
  <wsdl:message name="addressAndSalesTaxFromPayPalOrder_out">
    <wsdl:part name="parameters" element="tns:addressAndSalesTaxFromPayPalOrderResponse" />
  </wsdl:message>
  <wsdl:message name="migrate_in">
    <wsdl:part name="parameters" element="tns:migrate" />
  </wsdl:message>
  <wsdl:message name="migrate_out">
    <wsdl:part name="parameters" element="tns:migrateResponse" />
  </wsdl:message>
  <wsdl:portType name="TransactionPortType">
    <wsdl:operation name="fetchByVid">
      <wsdl:input message="tns:fetchByVid_in" />
      <wsdl:output message="tns:fetchByVid_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByWebSessionVid">
      <wsdl:input message="tns:fetchByWebSessionVid_in" />
      <wsdl:output message="tns:fetchByWebSessionVid_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByAccount">
      <wsdl:input message="tns:fetchByAccount_in" />
      <wsdl:output message="tns:fetchByAccount_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantTransactionId">
      <wsdl:input message="tns:fetchByMerchantTransactionId_in" />
      <wsdl:output message="tns:fetchByMerchantTransactionId_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchDeltaSince">
      <wsdl:input message="tns:fetchDeltaSince_in" />
      <wsdl:output message="tns:fetchDeltaSince_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchDelta">
      <wsdl:input message="tns:fetchDelta_in" />
      <wsdl:output message="tns:fetchDelta_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByAutobill">
      <wsdl:input message="tns:fetchByAutobill_in" />
      <wsdl:output message="tns:fetchByAutobill_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByPaymentMethod">
      <wsdl:input message="tns:fetchByPaymentMethod_in" />
      <wsdl:output message="tns:fetchByPaymentMethod_out" />
    </wsdl:operation>
    <wsdl:operation name="auth">
      <wsdl:input message="tns:auth_in" />
      <wsdl:output message="tns:auth_out" />
    </wsdl:operation>
    <wsdl:operation name="calculateSalesTax">
      <wsdl:input message="tns:calculateSalesTax_in" />
      <wsdl:output message="tns:calculateSalesTax_out" />
    </wsdl:operation>
    <wsdl:operation name="capture">
      <wsdl:input message="tns:capture_in" />
      <wsdl:output message="tns:capture_out" />
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <wsdl:input message="tns:cancel_in" />
      <wsdl:output message="tns:cancel_out" />
    </wsdl:operation>
    <wsdl:operation name="authCapture">
      <wsdl:input message="tns:authCapture_in" />
      <wsdl:output message="tns:authCapture_out" />
    </wsdl:operation>
    <wsdl:operation name="report">
      <wsdl:input message="tns:report_in" />
      <wsdl:output message="tns:report_out" />
    </wsdl:operation>
    <wsdl:operation name="score">
      <wsdl:input message="tns:score_in" />
      <wsdl:output message="tns:score_out" />
    </wsdl:operation>
    <wsdl:operation name="finalizePayPalAuth">
      <wsdl:input message="tns:finalizePayPalAuth_in" />
      <wsdl:output message="tns:finalizePayPalAuth_out" />
    </wsdl:operation>
    <wsdl:operation name="finalizeBokuAuthCapture">
      <wsdl:input message="tns:finalizeBokuAuthCapture_in" />
      <wsdl:output message="tns:finalizeBokuAuthCapture_out" />
    </wsdl:operation>
    <wsdl:operation name="finalizeCustomerAction">
      <wsdl:input message="tns:finalizeCustomerAction_in" />
      <wsdl:output message="tns:finalizeCustomerAction_out" />
    </wsdl:operation>
    <wsdl:operation name="addressAndSalesTaxFromPayPalOrder">
      <wsdl:input message="tns:addressAndSalesTaxFromPayPalOrder_in" />
      <wsdl:output message="tns:addressAndSalesTaxFromPayPalOrder_out" />
    </wsdl:operation>
    <wsdl:operation name="migrate">
      <wsdl:input message="tns:migrate_in" />
      <wsdl:output message="tns:migrate_out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionBinding" type="tns:TransactionPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fetchByVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a transaction for a Vindicia ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object with this VID</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchByVid" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByWebSessionVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a Transaction by WebSession's unique ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the WebSession object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchByWebSessionVid" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByAccount">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads transactions for an account<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>account</b></dt>
<dd>Account to load by</dd>
<dt><b>includeChildren</b></dt>
<dd>If true, include in the result all the transactions for any child accounts of this account (if false, or if omitted, we will not include them)</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transactions</b></dt>
<dd>Array of transaction objects associated with account</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchByAccount" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantTransactionId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a transaction for a merchant transaction ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantTransactionId</b></dt>
<dd>Merchant's unique ID for transaction</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object with this merchant transaction id</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchByMerchantTransactionId" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchDeltaSince">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a list of transactions that                  have changed since a timestamp.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>timestamp</b></dt>
<dd>All transactions on or after this timestamp</dd>
<dt><b>endTimestamp</b></dt>
<dd>All transactions before this timestamp</dd>
<dt><b>page</b></dt>
<dd>Optional page number to begin results returned</dd>
<dt><b>pageSize</b></dt>
<dd>Optional number of results to display per a page</dd>
<dt><b>paymentMethod</b></dt>
<dd>Optional payment method to constrain changes against</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transactions</b></dt>
<dd>Array of transaction objects  that have changed since the timestamp</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchDeltaSince" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchDelta">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a list of transactions that      have changed since the endDate of the last fetchDelta call                  or the beginning of time, if the first time calling fetchDelta.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>pageSize</b></dt>
<dd>Optional number of results to display per a page</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transactions</b></dt>
<dd>Array of transaction objects  that have changed since the last time fetchDelta was called</dd>
<dt><b>startDate</b></dt>
<dd>The starting timestamp for the range of transactions found</dd>
<dt><b>endDate</b></dt>
<dd>The ending timestamp for the range of transactions found</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchDelta" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByAutobill">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all transactions associated with an Autobill<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>autobill</b></dt>
<dd>An Autobill object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transactions</b></dt>
<dd>Billing transactions automatically created for the specified Autobill</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchByAutobill" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByPaymentMethod">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
This method will return a list of transactions that have the specified payment method associated with them. The       The input PaymentMethod object need not be fully populated. If VID is specified in the input PaymentMethod object, it will be used as the primary       identifying factor for the payment method record to be used as the search criterion. If VID is not specified in the input PaymentMethod object, merchantPaymentMethodId       will be used as the primary identifying factor for the payment method record to be used as the search criterion. If both VID, and merchantPaymentMethod are absent,       account number for a Credit Card, account number - bank routing number combination for ACH/ECP, fiscal number used for a Boleto transaction will be used as the search criterion depending on       type specified in the input PaymentMethod object. Since PayPal transactions processed through CashBox have no unique identifier, all PayPal transactions will be       returned. Merchants should use the paging parameters to limit the number of records returned per call<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>paymentMethod</b></dt>
<dd>Payment method to use as search criterion</dd>
<dt><b>page</b></dt>
<dd>Page number to begin results returned. First page number is 0</dd>
<dt><b>pageSize</b></dt>
<dd>Number of results to display per page, should be more than 0</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transactions</b></dt>
<dd>Array of Transaction objects matching the search criteria</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#fetchByPaymentMethod" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="auth">
      <xsd:annotation>
        <xsd:documentation><![CDATA[

          
Perform an auth operation on a transaction.  The transaction object should be filled out with all available information, then this method is called to actually perform the action.  This method has the following output return values:<p>
'400:Must specify transaction to authorize' if no transaction specified<br>
'400:No Account or PaymentMethod information' if neither account nor payment method is specified<br>
'400:Amount negative' if the amount on the transaction is less than zero<br>
'400:Vindicia fault VIN_XXX encountered.' if an internal error with the Vindicia payment system was encountered<br>
'403:Denied' if the chargback probability is greater than minChargebackProbability<br>
'404:Unable to load Account' if the specified account may not be loaded by VID or merchantAccountId<br>
'405:Account has no default payment method' if the specified account is loaded, but no default payment method is available and none is explicitly provided with the transaction<br> 
<p>
It will return 200 in all other cases, with the result of the transaction processing in the <a href="#data_type.transactionStatus">transactionStatus</a> field.  The returned transaction will have all respective fields filled out.  There is, in general, little validation of the specific values, as all that is completely necessary is an amount and PaymentMethod information, either given explicitly or gotten implicitly from the account.  The majority of the remaining information is either useful for fraud prevention or for later disputation of fraudulent chargebacks.
          
       <p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object</dd>
<dt><b>minChargebackProbability</b></dt>
<dd>If       Chargeback Probability from risk scoring is greater than this,       the transaction auth will fail.  Default is 100 (all transactions succeed).</dd>
<dt><b>sendEmailNotification</b></dt>
<dd>Flag indicating whether an email notification should be sent upon capture of this transaction.                     The email notification will be sent if a template for the preferred language                      and corresponding email notification type is uploaded in Vindicia database                      as a part of merchant configuration.</dd>
<dt><b>campaignCode</b></dt>
<dd>Optional coupon or promotion code, used to obtain a discount on this Transaction</dd>
<dt><b>dryrun</b></dt>
<dd>If "dryrun" is true, all computations will be done, but no result from this operation will be recorded in Vindicia's database. </dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object</dd>
<dt><b>score</b></dt>
<dd>
          
          The score of the transaction based upon the information
          provided.  Ranges  from 0 (best) to 100 (worst).  May also be
          -1, indicating that Vindicia has no opinion, or -2 indicating an
          error condition.  -2 error transactions should be retried later
          in order to complete the transaction database for chargeback
          challenging.  Further information about why a given score was
          returned is available in <b>scoreCodes</b>.  If the transaction score
          is not acceptable, the score may be improved by presenting the
          information in <b>scoreImprovements</b> to the user and resubmitting
          a score call.
          
        </dd>
<dt><b>scoreCodes</b></dt>
<dd>Array containing strings that explain why the risk score came out be of a certain value</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#auth" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateSalesTax">
      <xsd:annotation>
        <xsd:documentation><![CDATA[

          
Calculates the sales tax of the referred transaction.  In order to function, at a bare minimum, the amount and one address must be available.  Either the shipping address may be explicitly filled out, or the billing address may be loaded from the customer account (if any).  If both are available, the shipping address is used in preference.  This method has the following output return values:<p>
'400:Must specify transaction to calculate sales tax' if no transaction specified<br>
'400:Amount negative' if the amount on the transaction is less than zero<br>
'404:Unable to load Account' if the specified account may not be loaded by VID or merchantAccountId<br>
<p>
It will return 200 in all other cases.
          
       <p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object, with line-item(s) for sales tax</dd>
<dt><b>addressType</b></dt>
<dd>The chosen address for tax calculation (shipping or billing)</dd>
<dt><b>originalAddress</b></dt>
<dd>The original values for the chosen address</dd>
<dt><b>correctedAddress</b></dt>
<dd>The computed values for the chosen address, after correction for inconsistencies in address</dd>
<dt><b>taxItems</b></dt>
<dd>Array of individual sales tax line items computed</dd>
<dt><b>totalTax</b></dt>
<dd>Total tax computed</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#calculateSalesTax" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="capture">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transactions</b></dt>
<dd>An       array of <a href="#data_type.Transaction">Transaction</a> objects</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>qtySuccess</b></dt>
<dd>The number of transactions successfully captured</dd>
<dt><b>qtyFail</b></dt>
<dd>The number of transactions not successfully captured</dd>
<dt><b>results</b></dt>
<dd>An array of error codes and merchant id's for the list of transactions</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#capture" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transactions</b></dt>
<dd>An       array of <a href="#data_type.Transaction">Transaction</a> objects</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>qtySuccess</b></dt>
<dd>The number of transactions successfully cancelled</dd>
<dt><b>qtyFail</b></dt>
<dd>The number of transactions not successfully cancelled</dd>
<dt><b>results</b></dt>
<dd>An array of error codes and merchant id's for the list of transactions</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#cancel" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authCapture">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object</dd>
<dt><b>sendEmailNotification</b></dt>
<dd>Flag indicating whether an email notification should be sent upon success.               The email notification will be sent if a template for the preferred language and corresponding email                notification type is uploaded in Vindicia database as a part of merchant configuration.</dd>
<dt><b>ignoreAvsPolicy</b></dt>
<dd>Set to 1, to not evaluate any custom or default avs policy.</dd>
<dt><b>ignoreCvnPolicy</b></dt>
<dd>Set to 1, to not evaluate any custom or default cvn policy.</dd>
<dt><b>campaignCode</b></dt>
<dd>Optional coupon or promotion code, used to obtain a discount on this Transaction</dd>
<dt><b>dryrun</b></dt>
<dd>If "dryrun" is true, all computations will be done, but no result from this operation will be recorded in Vindicia's database. </dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>The transaction object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#authCapture" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="report">
      <xsd:annotation>
        <xsd:documentation><![CDATA[

      
      Allows you to enter Transactions, processed outside CashBox, to the CashBox
      database. Transactions reported to CashBox using this method are stored in the
      database, but are neither processed internally, nor sent to your payment processor.
      
    <p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transactions</b></dt>
<dd>An array of <a href="#data_type.Transaction">Transaction</a> objects</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#report" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="score">
      <xsd:annotation>
        <xsd:documentation><![CDATA[

      
      Evaluates chargeback risk score (fraud score) for the input transaction. 
      The transaction must have billing city, billing state, billing country,
      and IP address at the mininum. The risk score can range for 0 (no risk) to
      100 (almost certain that the transaction will result into a chargeback). This
      call also records the transaction in the Vindicia database.
      
    <p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transaction</b></dt>
<dd>Description of the details of the transaction</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>Copy of the input transaction, populated with a Vindicia generated merchant transaction id if it was not included in the input transaction</dd>
<dt><b>score</b></dt>
<dd>
          
          The score of the transaction based upon the information
          provided.  Ranges  from 0 (best) to 100 (worst).  May also be
          -1, indicating that Vindicia has no opinion, or -2 indicating an
          error condition.  -2 error transactions should be retried later
          in order to complete the transaction database for chargeback
          challenging.  Further information about why a given score was
          returned is available in <b>scoreCodes</b>.  If the transaction score
          is not acceptable, the score may be improved by presenting the
          information in <b>scoreImprovements</b> to the user and resubmitting
          a score call.
          
        </dd>
<dt><b>scoreCodes</b></dt>
<dd>Array containing strings that explain why the risk score came out be of a certain value</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#score" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finalizePayPalAuth">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Completes authorization of a PayPal payment method based transaction after the customer finishes authorization activities at PayPal web site and is redirected to your site by PayPal<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>payPalTransactionId</b></dt>
<dd>Vindicia generated unique ID for the underlying PayPal transaction. This will be available to you via the URL when customer is redirected to your site by PayPal</dd>
<dt><b>success</b></dt>
<dd>Set this to true if PayPal redirected customer to your success web page (returnUrl). If PayPal redirected customer to your failure page (cancelUrl) set this to false</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>Resultant Transaction object. CashBox will populate this only if there was no error in processing this call.</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#finalizePayPalAuth" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finalizeBokuAuthCapture">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
CURRENTLY NOT SUPPORTED. Completes auth/capture of a BOKU payment method based transaction after the customer finishes approval activities at Boku web site and is redirected to your site by Boku<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transactionVid</b></dt>
<dd>Vindicia-generated ID (VID) for the transaction. This will be included in the 'param' variable included in the redirect from BOKU</dd>
<dt><b>success</b></dt>
<dd>Set this to true if Boku redirected customer to your success web page (returnUrl). If Boku redirected customer to your failure page set this to false</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>Resultant Transaction object. CashBox will populate this only if there was no error in processing this call.</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#finalizeBokuAuthCapture" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finalizeCustomerAction">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Completes processing of a transaction after the customer finishes payment activities at hosted by Payment Provider web pages and is redirected to your site by Payment Provider. <p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>transactionVid</b></dt>
<dd>Vindicia generated unique ID for the underlying transaction. This will be available to you via the URL when customer is redirected to your site by Payment Provider</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>transaction</b></dt>
<dd>Resultant Transaction object. CashBox will populate this only if there was no error in processing this call.</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#finalizeCustomerAction" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addressAndSalesTaxFromPayPalOrder">
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#addressAndSalesTaxFromPayPalOrder" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="migrate">
      <xsd:annotation>
        <xsd:documentation><![CDATA[

      
      Allows you to migrate Transactions, processed outside CashBox, to the CashBox
      database. 
      
    <p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>migrationTransactions</b></dt>
<dd>An array of <a href="#data_type.MigrationTransaction">MigrationTransaction</a> objects</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>response</b></dt>
<dd>An array of <a href="#data_type.ValidationResponse">ValidationResponse</a> objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/v7_0/Transaction#migrate" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transaction">
    <wsdl:port name="TransactionPort" binding="tns:TransactionBinding">
      <soap:address location="https://soap.vindicia.com/soap.pl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>