website/common/Service References/Vindicia.Product/Product.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://soap.vindicia.com/Product" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vin="http://soap.vindicia.com/Vindicia" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdl="http://soap.vindicia.com/Product" name="Product" targetNamespace="http://soap.vindicia.com/Product" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>WSDL Specification for Product</documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://soap.vindicia.com/Product">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import schemaLocation="./Vindicia.xsd" namespace="http://soap.vindicia.com/Vindicia" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="update_in">
    <wsdl:part name="auth" type="vin:Authentication" />
    <wsdl:part name="product" type="vin:Product" />
    <wsdl:part name="duplicateBehavior" type="vin:DuplicateBehavior" />
  </wsdl:message>
  <wsdl:message name="update_out">
    <wsdl:part name="return" type="vin:Return" />
    <wsdl:part name="product" type="vin:Product" />
    <wsdl:part name="created" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="fetchByVid_in">
    <wsdl:part name="auth" type="vin:Authentication" />
    <wsdl:part name="vid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="fetchByVid_out">
    <wsdl:part name="return" type="vin:Return" />
    <wsdl:part name="product" type="vin:Product" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantProductId_in">
    <wsdl:part name="auth" type="vin:Authentication" />
    <wsdl:part name="merchantProductId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantProductId_out">
    <wsdl:part name="return" type="vin:Return" />
    <wsdl:part name="product" type="vin:Product" />
  </wsdl:message>
  <wsdl:message name="fetchByAccount_in">
    <wsdl:part name="auth" type="vin:Authentication" />
    <wsdl:part name="account" type="vin:Account" />
  </wsdl:message>
  <wsdl:message name="fetchByAccount_out">
    <wsdl:part name="return" type="vin:Return" />
    <wsdl:part name="products" type="vin:ArrayOfProducts" />
  </wsdl:message>
  <wsdl:message name="fetchAll_in">
    <wsdl:part name="auth" type="vin:Authentication" />
    <wsdl:part name="page" type="xsd:int" />
    <wsdl:part name="pageSize" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="fetchAll_out">
    <wsdl:part name="return" type="vin:Return" />
    <wsdl:part name="products" type="vin:ArrayOfProducts" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantEntitlementId_in">
    <wsdl:part name="auth" type="vin:Authentication" />
    <wsdl:part name="merchantEntitlementId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="fetchByMerchantEntitlementId_out">
    <wsdl:part name="return" type="vin:Return" />
    <wsdl:part name="products" type="vin:ArrayOfProducts" />
  </wsdl:message>
  <wsdl:portType name="ProductPortType">
    <wsdl:operation name="update" parameterOrder="auth product duplicateBehavior">
      <wsdl:input message="xsdl:update_in" />
      <wsdl:output message="xsdl:update_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByVid" parameterOrder="auth vid">
      <wsdl:input message="xsdl:fetchByVid_in" />
      <wsdl:output message="xsdl:fetchByVid_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantProductId" parameterOrder="auth merchantProductId">
      <wsdl:input message="xsdl:fetchByMerchantProductId_in" />
      <wsdl:output message="xsdl:fetchByMerchantProductId_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByAccount" parameterOrder="auth account">
      <wsdl:input message="xsdl:fetchByAccount_in" />
      <wsdl:output message="xsdl:fetchByAccount_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchAll" parameterOrder="auth page pageSize">
      <wsdl:input message="xsdl:fetchAll_in" />
      <wsdl:output message="xsdl:fetchAll_out" />
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantEntitlementId" parameterOrder="auth merchantEntitlementId">
      <wsdl:input message="xsdl:fetchByMerchantEntitlementId_in" />
      <wsdl:output message="xsdl:fetchByMerchantEntitlementId_out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductBinding" type="xsdl:ProductPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="update">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Creates a new Product object, or updates an existing one.<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>product</b></dt>
<dd>Object to create</dd>
<dt><b>duplicateBehavior</b></dt>
<dd>What to do if a duplicate product is submitted</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
<dt><b>created</b></dt>
<dd>True if the object was created new</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#update" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByVid">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a product by Vindicia's unique ID<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>vid</b></dt>
<dd>Vindicia ID for the object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByVid" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantProductId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads a product by mrchant's unique id<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantProductId</b></dt>
<dd>Merchant's unique id for this object</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>product</b></dt>
<dd>The resultant object</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByMerchantProductId" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByAccount">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads an array of products by Account object<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>account</b></dt>
<dd>Account to load by</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByAccount" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchAll">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
ARRAY(0x8aece14)<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>page</b></dt>
<dd>The offset, based on pageSize, to return.</dd>
<dt><b>pageSize</b></dt>
<dd>The number of products to return per page.</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchAll" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchByMerchantEntitlementId">
      <xsd:annotation>
        <xsd:documentation><![CDATA[
Loads all Products that grant an entitlement<p>
<h4>Input Fields</h4><dl>
<dt><b>auth</b></dt>
<dd>Credentials required to authenticate this request</dd>
<dt><b>merchantEntitlementId</b></dt>
<dd>Merchant's unique entitlement id</dd>
</dl>
<h4>Output Fields</h4><dl>
<dt><b>return</b></dt>
<dd>Basic results of this request (success, failure, error, etc.)</dd>
<dt><b>products</b></dt>
<dd>The resultant objects</dd>
</dl>
]]></xsd:documentation>
      </xsd:annotation>
      <soap:operation soapAction="http://soap.vindicia.com/Product#fetchByMerchantEntitlementId" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soap.vindicia.com/Product" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Product">
    <wsdl:port name="ProductPort" binding="xsdl:ProductBinding">
      <soap:address location="https://soap.vindicia.com/v3.0/soap.pl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>